Demonstration/MGDrawingSlate-Demo.xcodeproj/project.xcworkspace/xcuserdata/dominick.xcuserdatad/UserInterfaceState.xcuserstate
Demonstration/MGDrawingSlate-Demo.xcodeproj/xcuserdata/dominick.xcuserdatad/xcschemes/MGDrawingSlate-Demo.xcscheme
Demonstration/MGDrawingSlate-Demo.xcodeproj/xcuserdata/dominick.xcuserdatad/xcschemes/xcschememanagement.plist
